@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Tapestry&display=swap');

.welcome-page {
    display: grid;
    grid-template-columns: repeat(6, 7em);
    grid-template-rows: repeat(12, 7em);
    background-color: #BF9E6A;
    padding: 0;
    font-size: 23px;
    font-family:  'Grechen Fuemen', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: gray;
    display: grid;
    grid-column:  1/12;
    grid-row: 1;
    align-items: center;

}

.home-title {
    text-align: center;
    grid-row: 2;
    grid-column: 1/12;
}

nav {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    color: #F0F0C9;
    font-family: 'Tapestry', 'Grechen Fuemen', sans-serif;
    width: 100%;
}

nav :hover {
    background-color: #642B2B;
    color: #F0F0C9;
}

.logo {
    width: auto;
    height: 140px;
}

#logo_link {
    justify-self: center;
    align-self: center;
    width: auto;
    height: 120px;
}
.welcome-container {
    position: relative;
    grid-row: 3/7;
    grid-column: 2/12;
}

.welcome-image {
    grid-row: 3;
    grid-column: 2;
    width: 85%;
    height: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.welcome-container:hover .welcome-image {
    opacity: 0.3;
    grid-row: 3;
    grid-column: 2;
  }
  
.welcome-container:hover .welcome-text-picture-hover {
opacity: 1;
}

.welcome-text-picture-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.welcome-container-text {
   color: #F0F0C9;
   background-color: #642B2B;
}

#second-welcome-image {
    grid-row: 8;
    grid-column: 4/12;
    width: 100%;
}

h2 {
    text-align: left;
    grid-column: 1/4;
    grid-row: 7;
    margin-left: 20px;
}

#intro-welcome-text {
    grid-column: 1/4;
    grid-row: 8;
    font-family: 'Tapestry','Grechen Fuemen';
    margin-left: 20px;
}

#welcome-msg h1{
    text-align: center;
    grid-column: 3/4;
    grid-row: 3;
}

#home-footer {
    grid-row: 11;
    grid-column: 1/12;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
a {
    text-decoration: none;
}

.plumbing-page {
    display: grid;
    grid-template-columns: repeat(6, 7em);
    grid-template-rows: repeat(12, 7em);
    background-color: #BF9E6A;
    padding: 0;
    font-size: 23px;
    font-family:  'Grechen Fuemen', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

#plumbing-welcome-image-box {
    grid-row: 2/4;
    grid-column: 1/12;
    width: 100%;
    height: 100%;
}

#plumbing-welcome-image {
    grid-row: 2/4;
    grid-column: 1/12;
    width: 100%;
    height: 100%;
}

.home-title-plumbing {
    text-align: center;
    grid-row: 2/4;
    grid-column: 1/12;
    margin: -10px;
}

#plumbing-system-overview-title {
    grid-row: 4;
    grid-column: 1/4;
    text-align: left;
    margin-top: 12px;
}

#plumbing-system-overview-text {
    grid-row: 5;
    grid-column: 1/5;
    width: 100%;
    text-align: center;
    margin-top: -100px;
    margin-left: 10px;
}

#plumbing-system-overview-image {
    grid-row: 4/7;
    grid-column: 5/11;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-left: 60px;
}

#plumbing-water-heater-and-loop-when-using-on-board-pump-title {
    grid-row: 8;
    grid-column: 5/12;
    text-align: center;
}

#plumbing-water-heater-and-loop-when-using-on-board-pump-text {
    grid-row: 9;
    grid-column: 5/12;
    text-align: center;
    margin-right: 20px;
    margin-top: -50px;
}

#plumbing-water-heater-and-loop-when-using-on-board-pump-image {
    grid-row: 8/12;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    margin-left: 40px;
    margin-top: 10px;
}

#plumbing-footer {
    grid-row: 11;
    grid-column: 1/12;
    margin-top: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.electrical-page {
    display: grid;
    grid-template-columns: repeat(6, 7em);
    grid-template-rows: repeat(12, 7em);
    background-color: #BF9E6A;
    padding: 0;
    font-size: 23px;
    font-family:  'Grechen Fuemen', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

#electrical-welcome-image-box {
    grid-row: 2/4;
    grid-column: 1/12;
    width: 100%;
    height: 100%;
}

#electrical-welcome-image {
    grid-row: 2/4;
    grid-column: 1/12;
    width: 100%;
    height: 100%;
}

.electrical-title {
    text-align: center;
    grid-row: 2/4;
    grid-column: 1/12;
    margin: 10px;
    color: #396E94;
}

#electrical-title {
    grid-row: 4;
    grid-column: 1/4;
    text-align: left;
    margin-top: 100px;
    margin-top: 10px;
}

#the-missing-breaker-panel-title {
    grid-row: 4;
    grid-column: 1/4;
    text-align: left;
    margin-top: 100px;
    margin-top: 10px;
}

#the-missing-breaker-panel-text {
    grid-row: 5;
    grid-column: 1/5;
    width: 100%;
    text-align: center;
    margin-top: -100px;
    margin-left: 10px;
}

#the-missing-breaker-panel-image {
    grid-row: 4/6;
    grid-column: 5/11;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-left: 40px;
}

#diagram-of-electrical-system-title {
    grid-row: 7;
    grid-column: 5/12;
    text-align: center;
    margin-top: -30px;
}

#diagram-of-electrical-system-text {
    grid-row: 8;
    grid-column: 5/12;
    text-align: center;
    margin-right: 20px;
    margin-top: -150px;
}

#diagram-of-electrical-system-image {
    grid-row: 7/9;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    margin-left: 40px;
    margin-top: -10px;
}

#possible-upgrades-title{
    grid-row: 9;
    grid-column: 1/5;
    text-align: center;
    margin-right: 20px;
}

#possible-upgrades-text {
    grid-row: 10;
    grid-column: 1/5;
    text-align: center;
    margin-right: 20px;
    margin-top: -80px;
    margin-left: 10px;
}

#possible-upgrades-image {
    grid-row: 10/12;
    grid-column: 5/11;
    text-align: center;
    margin-right: 20px;
    margin-top: -50px;
    width: 100%;
    height: 100%;
}

#electrical-footer {
    grid-row: 11;
    grid-column: 1/12;
    margin-top: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}