@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Tapestry&display=swap');

main {
    display: grid;
    grid-template-columns: repeat(6, 7em);
    grid-template-rows: repeat(12, 7em);
    background-color: #BF9E6A;
    padding: 0;
    font-size: 23px;
    font-family:  'Grechen Fuemen', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: gray;
    display: grid;
    grid-column:  1/12;
    grid-row: 1;
    align-items: center;

}

.home-title {
    text-align: center;
    grid-row: 2;
    grid-column: 1/12;
}

nav {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    color: #F0F0C9;
    font-family: 'Tapestry', 'Grechen Fuemen', sans-serif;
    width: 100%;
}

nav :hover {
    background-color: #642B2B;
    color: #F0F0C9;
}

.logo {
    width: auto;
    height: 140px;
}

#logo_link {
    justify-self: center;
    align-self: center;
    width: auto;
    height: 120px;
}
.welcome-container {
    position: relative;
    grid-row: 3/7;
    grid-column: 2/12;
    max-width: 1200px;
}

.welcome-image {
    grid-row: 3;
    grid-column: 2;
    width: 85%;
    height: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    max-width: 1200px;
}

.welcome-container:hover .welcome-image {
    opacity: 0.3;
    grid-row: 3;
    grid-column: 2;
  }
  
.welcome-container:hover .welcome-text-picture-hover {
opacity: 1;
}

.welcome-text-picture-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.welcome-container-text {
   color: #F0F0C9;
   background-color: #642B2B;
}

#second-welcome-image {
    grid-row: 8;
    grid-column: 4/12;
    width: 100%;
}

h2 {
    text-align: left;
    grid-column: 1/4;
    grid-row: 7;
    margin-left: 20px;
}

#intro-welcome-text {
    grid-column: 1/4;
    grid-row: 8;
    font-family: 'Tapestry','Grechen Fuemen';
    margin-left: 20px;
}

#welcome-msg h1{
    text-align: center;
    grid-column: 3/4;
    grid-row: 3;
}

footer {
    text-align: center;
    grid-row: 12;
    grid-column: 1/12;
}
 
a {
    text-decoration: none;
}