@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Tapestry&display=swap');

body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: tan;
    padding: 0;
    font-size: 22px;
    font-family:  'Grechen Fuemen', sans-serif;
    margin: 0;
}

header {
    background-color: gray;
    display: grid;

}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #F0F0C9;
    padding: 35px;
    font-size: 3em;
    font-family: 'Tapestry', 'Grechen Fuemen', sans-serif;
}

nav :hover {
    background-color: #642B2B;
    color: #F0F0C9;
}

.logo {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

#logo_link {
    padding-top: 5px;
    justify-self: left;
    align-self: left;
}

#welcome-image {
    display: grid;
    margin-top: -100px;
    grid-row: 3;
    max-width: 100%;
    height: auto;
}

#intro-welcome-text {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    font-family: 'Tapestry','Grechen Fuemen';
    justify-content: left;
    max-width: 100%;
}

#second-welcome-image {
    display: grid;
    margin-top: -100px;
    grid-column: 6;
    grid-row: 4;
    max-width: 100%;
    height: auto;
}

#welcome-img {
    display: grid;
    justify-items: center;
}

#welcome-box {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
}

.home-title {
    text-align: center;
    grid-row: 1;
}
#welcome-msg h1{
    text-align: center;
    grid-column: 3/4;
    grid-row: 3;
}

h2 {
    text-align: left;
    grid-column: 2;
    grid-row: 3;
}
